
%chapter {
	display: flex;
	margin-bottom: 1rem;
	flex-flow: column;
	align-items: center;
}

.comparisons {
	display: flex;
}

.comparisonValue {
	padding: 0.3rem 0.5rem;
	font-size: 1rem;
	align-items: center;
	i {
		font-size: 1rem;
	}
}

.label {
	display: flex;
	align-self: flex-start;
}

.oneWeekAgo {
	@extend %chapter;
}

.thisWeek {
	@extend %chapter;
}

.valueFrame {
	display: flex;
	min-height: 12rem;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.wordWeek {
	display: flex;
}
