
.label {
	display: flex;
}

.oneWeekAgo {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.valueFrame {
	display: flex;
	min-height: 12rem;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.wordDay {
	display: flex;
}
